:host {
  display: flex;
  width: 100%;
  margin: 40px 8px;

  & > * {
    padding: 8px;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

app-person-card {
  width: 256px;
  min-width: 256px;
  margin: 0 auto;
  display: block;
}

.publications {
  flex-grow: 1;
}
