:host {
  display: flex;
  width: 100%;
  margin: 40px 8px;

  & > * {
    padding: 8px;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.publications {
  flex-grow: 1;
}

#info {
  width: 256px;
  min-width: 256px;

  margin: 0 auto;
  display: block;

  #other-info {
    padding: 0 16px;
  }
}
