<p>
  Natural language processing lets computers analyze and “understand” spoken language texts, utilizing methods that
  combine advanced computer science algorithms with linguistic knowledge.
</p>

<p>
  Our research interests include
  information extraction and aggregation,
  ethical bias detection and mitigation,
  textual entailment,
  explainable models,
  and the general NLP pipeline for Hebrew.
</p>

<p>
  We believe in open research, and publish our papers, tools, models, and algorithms available for anyone to use.
</p>

<p><img src="assets/lab/main.jpg" width="100%" alt="Lab image 2017"></p>
