<p>
  Natural language processing allows computers to analyze and “understand” human language,
  by combining advanced computer science algorithms with linguistic knowledge.
</p>

<p>
  In our lab, we work on problems at the forefront of the worldwide academic community.
  For that we use cutting-edge methods in Machine Learning, Deep Learning and Artificial Intelligence.
</p>

<p>Our research interests include, among others:</p>
<ul>
  <li> Information extraction and aggregation</li>
  <li> Bias detection and mitigation</li>
  <li> Textual entailment</li>
  <li> Model interpretation</li>
  <li> NLP pipeline for Hebrew</li>
</ul>

<p>
  We collaborate with leading labs all over the world.
  We believe in open research, and make our papers, tools, models, and algorithms
  publicly available to facilitate future research.
</p>

<p><img src="assets/lab/main.jpg" width="100%" alt="Lab image 2017"></p>
